[Unit]
Description=FlareSolverr
Wants=network-online.target
After=network-online.target

[Container]
AutoUpdate=registry
Image=ghcr.io/flaresolverr/flaresolverr:v3.5.0
ContainerName=flaresolverr
Network=host
DNS=127.0.0.1
Environment=TZ=Asia/Kolkata
Environment=LOG_LEVEL=info
Volume=/home/onkar/media-stack/config/flaresolverr:/config

[Service]
Restart=always

[Install]
WantedBy=default.target
