[Unit]
Description=Jellyfin
Wants=network-online.target
After=network-online.target

[Container]
AutoUpdate=registry
Image=docker.io/linuxserver/jellyfin:10.11.11ubu2604-ls44
ContainerName=jellyfin
Network=host
DNS=127.0.0.1
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Etc/UTC
Environment=DOTNET_SYSTEM_NET_DISABLEIPV6=true
Volume=/home/onkar/media-stack/config/jellyfin:/config
Volume=/home/onkar/media-stack/media:/media

[Service]
Restart=always

[Install]
WantedBy=default.target
