[Unit]
Description=Prowlarr
Wants=network-online.target
After=network-online.target

[Container]
AutoUpdate=registry
Image=docker.io/linuxserver/prowlarr:2.5.2.5491-ls156
ContainerName=prowlarr
Network=host
DNS=127.0.0.1
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Etc/UTC
Environment=DOTNET_SYSTEM_NET_DISABLEIPV6=true
Volume=/home/onkar/media-stack/config/prowlarr:/config

[Service]
Restart=always

[Install]
WantedBy=default.target
