[Unit]
Description=qBittorrent
Wants=network-online.target
After=network-online.target

[Container]
AutoUpdate=registry
Image=docker.io/linuxserver/qbittorrent:5.2.3_v2.0.14-ls472
ContainerName=qbittorrent
Network=host
DNS=127.0.0.1
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Etc/UTC
Environment=WEBUI_PORT=8090
Volume=/home/onkar/media-stack/config/qbittorrent:/config
Volume=/home/onkar/media-stack/downloads:/downloads

[Service]
Restart=always

[Install]
WantedBy=default.target
