[Unit]
Description=Radarr
Wants=network-online.target
After=network-online.target

[Container]
AutoUpdate=registry
Image=docker.io/linuxserver/radarr:6.3.0.10514-ls313
ContainerName=radarr
Network=host
DNS=127.0.0.1
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Asia/Kolkata
Environment=DOTNET_SYSTEM_NET_DISABLEIPV6=true
Volume=/home/onkar/media-stack/config/radarr:/config
Volume=/home/onkar/media-stack/downloads:/downloads
Volume=/home/onkar/media-stack/media/movies:/movies

[Service]
Restart=always

[Install]
WantedBy=default.target
