[Unit]
Description=Jellyseerr
Wants=network-online.target
After=network-online.target

[Container]
AutoUpdate=registry
Image=ghcr.io/seerr-team/seerr:v3.4.1
ContainerName=seerr
Network=host
DNS=127.0.0.1
UserNS=keep-id
PodmanArgs=--init
Environment=TZ=Asia/Kolkata
Volume=/home/onkar/media-stack/config/jellyseerr:/app/config

[Service]
Restart=always

[Install]
WantedBy=default.target
